body {
  background-color: rgb(130, 163, 172);
  margin: auto;
  padding: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
}


header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 20px;
  outline-style: outset;
  outline-width: 15px;
}

nav,
div {
  font-size: 20px;
  align-items: center !important;
  justify-content: center !important;
  background: transparent !important;

}

nav a {}

hero {
  display: grid;
  background-image: url(../images/SL-092619-23740-28.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  outline-style: outset;
  outline-width: 12px;
  outline-color: black;
}

.jumbotron {
  padding: 10px;
}

hero h3 {
  font-size: 15px;
  margin-top: 30px;
}

.container img {
  height: 75px;
  width: 75px;
}


@media screen and (max-width: 900px) {
  hero h3 {
    font-size: 10px;
  }
}